@tailwind base;
@tailwind components;
@tailwind utilities;

.containerSidebar {
    @apply flex gap-3 flex-col p-4 rounded-lg cursor-pointer;
    transition: all 300ms ease-in-out;
}

.active {
    @apply bg-blue-700 text-white outline-white;
}

.activeHeader {
    @apply lg:border-b-[3px] lg:border-blue-700;
}

.bg-posyandu {
    @apply bg-[url('../../public/img/background1.png')] h-[600px] bg-cover bg-no-repeat;
}

.bg-berita {
    @apply bg-[url('../../public/img/background2.png')] h-[600px] bg-cover bg-no-repeat;
}

.tableBody{
    @apply px-5 lg:px-6 border-b py-2 lg:py-2 bg-white text-xs lg:text-base;
}
